
# Descriptive Statistics

<b>Nama : Gustania Nirmala Meisi</b><br>
<b>NIM : 2041720107</b>

<h2>Daftar Isi</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
    <li><a href="#import_data">Melakukan Import Data</a></li>
    <li><a href="#descriptive_statistics">Analisis Descriptive Statistics</a></li>
</ol>

</div>
 
<hr>

<h3> Fitur atau kolom apa yang menjadi karakteristik dari data Corona?</h3>

<h2 id="import_data">1. Import Data from Module 2</h2>

<h4>Setup</h4>

 Import libraries

In [1]:
import pandas as pd
import numpy as np

 <p>load data dan menyimpan didalam dataframe df:</p>

In [2]:
path='corona.csv'
df = pd.read_csv(path)
df.head()

       Country  Confirmed  Deaths  Recovered
0  Afghanistan        537      21          8
1      Algeria         19       0          0
2      Andorra          1       0          0
3    Argentina         12       1          0
4      Armenia          1       0          0

<h2 id="pattern_visualization">2. Analisis Fitur Individual</h2>

<p>Kita dapat melakukan instalasi seaborn dengan cara berikut</p>

In [3]:
%%capture
! pip install seaborn

Import visualization packages "Matplotlib" dan "Seaborn", jangan lupa "%matplotlib inline" untuk melakukan plotting pada Jupyter notebook.

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


<h4>Pertama-tama kita harus mengetahui jenis-jenis tipe data dari masing-masing variabel</h4>

In [5]:
print(df.dtypes)

Country      object
Confirmed     int64
Deaths        int64
Recovered     int64
dtype: object

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h3>Pertanyaan  #1:</h3>

<b>Apakah tipe data dari "peak-rpm"? </b>

</div>

tipe data atribut keempat adalah int64

Double-click <b>disini</b> untuk solusinya.

<!--berikut adalah jawabanya:

float64

-->

<p>Kita dapat menghitung korelasi antara variabel int64 dan float64 dengan method corr</p>

In [6]:
df.corr()

           Confirmed    Deaths  Recovered
Confirmed   1.000000  0.996617   0.992006
Deaths      0.996617  1.000000   0.993900
Recovered   0.992006  0.993900   1.000000

The diagonal elements are always one; we will study correlation more precisely Pearson correlation in-depth at the end of the notebook.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Pertanyaan  #2: </h1>

<p>Carilah korelasi dari kolom-kolom berikut ini: 'Country','Confirmed' ,'Deaths','Recovered'.</p>
<p>Petunjuk anda dapat menggunakan syntax berikut ini: df[['Country','Confirmed' ,'Deaths','Recovered']]</p>
</div>

In [7]:
# Tulis code anda dan tekan Shift+Enter untuk mengeksekusi
df[['Country','Confirmed' ,'Deaths','Recovered']].corr()

           Confirmed    Deaths  Recovered
Confirmed   1.000000  0.996617   0.992006
Deaths      0.996617  1.000000   0.993900
Recovered   0.992006  0.993900   1.000000

Double-click <b>disini</b> untuk solusinya.

<!-- The answer is below:

df[['bore', 'stroke', 'compression-ratio', 'horsepower']].corr()  

-->

<h2 id="discriptive_statistics">2. Analisis Descriptive Statistics</h2>
<p> Pertama-tama kita lihat variable yang ada dengan meutilisasi method description</p>

<p>Method <b>describe</b> secara otomatis melakukan komputasi statistik untuk semua continous variable. Seluruh NaN akan ditidak dihitung didalam statistics.</p>

This will show:

<ul>
    <li>the count of that variable</li>
    <li>mean</li>
    <li>standard deviation (std)</li> 
    <li>nilai minimum</li>
    <li>IQR (Interquartile Range: 25%, 50% dan 75%)</li>
    <li>nilai maximum</li>
<ul>

 Kita dapat meutilisasi method "describe" seperti berikut ini:

In [8]:
df.describe()

          Confirmed       Deaths     Recovered
count    108.000000   108.000000    108.000000
mean    1017.453704    35.185185    561.842593
std     7827.486122   300.047259   5516.725741
min        0.000000     0.000000      0.000000
25%        3.000000     0.000000      0.000000
50%       11.500000     0.000000      0.000000
75%       52.500000     0.000000      1.250000
max    80699.000000  3097.000000  57320.000000

Secara default describe melakukan ignore terhada variabel bertype objek. Kita dapat menggunakan method describe pada variable object dengan cara sebagai berikut

In [9]:
df.describe(include=['object'])

          Country
count         108
unique        108
top     Palestine
freq            1


<h3>Value Counts</h3>
<p>Penghitungan nilai adalah cara yang baik untuk memahami berapa banyak unit dari setiap karakteristik/variabel yang kita miliki. Kita bisa menerapkan metode "value_counts" pada kolom 'Deaths'. Jangan lupa metode "Deaths" hanya berfungsi pada seri Pandas, bukan Pandas Dataframes. Sehingga, kita hanya menyertakan satu tanda kurung "df['Deaths']" bukan dua tanda kurung "df[['Deaths']]".</p>

In [10]:
df['Deaths'].value_counts()

0       87
1        7
3        3
6        3
2        1
17       1
19       1
21       1
3097     1
50       1
194      1
366      1
Name: Deaths, dtype: int64

Kita dapat melakukan konversi kedalam dataframe dengan cara sebagai berikut :

In [11]:
df['Deaths'].value_counts().to_frame()

      Deaths
0         87
1          7
3          3
6          3
2          1
17         1
19         1
21         1
3097       1
50         1
194        1
366        1

Mari ulangi langkah di atas tetapi simpan hasilnya ke dataframe "deaths_counts" dan ganti nama kolom 'Deaths' menjadi 'value_counts'.

In [12]:
deaths_counts = df['Deaths'].value_counts().to_frame()
deaths_counts.rename(columns={'Deaths': 'value_counts'}, inplace=True)
deaths_counts

      value_counts
0               87
1                7
3                3
6                3
2                1
17               1
19               1
21               1
3097             1
50               1
194              1
366              1

Sekarang mari kita ganti nama indeks menjadi 'Deaths':

In [13]:
deaths_counts.index.name = 'Deaths'
deaths_counts

        value_counts
Deaths
0                 87
1                  7
3                  3
6                  3
2                  1
17                 1
19                 1
21                 1
3097               1
50                 1
194                1
366                1

Kita dapat mengulangi proses di atas untuk variabel 'Recovered'.

In [16]:
# Recovered as variable
recovered_counts = df['Recovered'].value_counts().to_frame()
recovered_counts.rename(columns={'Recovered': 'value_counts'}, inplace=True)
recovered_counts.index.name = 'Recovered'
recovered_counts.head(10)

           value_counts
Recovered
0                    68
1                    13
3                     4
2                     2
8                     2
18                    2
31                    1
622                   1
57320                 1
2134                  1

#### References
Cognitive Class, Data Analysis with Python, Course Number: DA0101EN